.sidebar {
    height: 100%;
}

.drop-menu{
    margin-left: 100px;
}

.active{
    background: rgba(238, 238, 238, 0.2);
    padding: 1px 0px;
    
}

.logout:hover{
    background-color: orangered;
    padding: 2px;
}